<h2>Create New Post</h2>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Title</label>
  <input type="text" class="form-control" placeholder="PsuedoCode" id="title" />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content</label>
  {{! <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="contents"></textarea> }}
  <input type="text" class="form-control" id="contents" />
</div>
<div>
  <button
    type="button"
    class="btn btn-outline-secondary"
    id="create"
  >Create</button>
</div>

<script src="/js/post.js"></script>