<h2>SignUp</h2>

          <form class="form signup-form">
            <div class="form-row">
              <div class="col-lg-10">
                <input
                  type="text"
                  placeholder="Name"
                  class="form-control my-3 p-4"
                  id="username-signup"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10">
                <input
                  type="email"
                  placeholder="Email-Address"
                  class="form-control my-3 p-4"
                  id="email-signup"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10">
                <input
                  type="password"
                  placeholder="*******"
                  class="form-control my-3 p-4"
                  id="password-signup"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10">
                <button
                  type="submit"
                  class="btn1 mt-3 mb-5 btn-color"
                  id="signup"
                >Signup</button>
              </div>
            </div>
          </form>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>